* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

ul {
    list-style: none;
}

a:link,
a:visited {
    color: var(--text-color);
    text-decoration: none;
}
