main {
    padding: 1rem;
}

.section1 {
    margin-top: 5.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    span {
        font-size: 1.5rem;
    }
}

.products {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
    h2 {
        text-decoration: underline;
        text-align: center;
    }

    @media screen and (max-width: 992px) {
        gap: .5rem;
    }
}

.btnsend {
    display: flex;
    justify-content: center;
    align-items: center;
}