@use "../../styles/scss/variables" as var;

.home {
    width: var.$widthContent;

    &__section {
        padding: 1rem 0;

        h3 {
            margin-bottom: 0.5rem;
        }

        &__search {
            display: flex;

            :last-child {
                margin-left: auto;
            }

            padding: 1rem 0;
        }

        &__cards {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 1vw;

            padding: 1rem 0;
        }
    }

    @media (max-width: 1400px) {
        &__section {
            &__cards {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }

    @media (max-width: 1200px) {
        &__section {
            &__cards {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }

    @media (max-width: 992px) {
        &__section {
            &__cards {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    @media (max-width: 650px) {
        &__section {
            &__search {
                display: grid;
                grid-template-columns: 1fr;
                gap: 1vw;

                div {
                    width: 100%;
                }

                :last-child {
                    margin-left: 0;
                }
            }

            &__cards {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}