* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
}

body {
    background-color: var(--bg-color);
}