@use "../../styles/scss/variables" as var;

$_width: 100%;

.product-create-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto max-content;
    gap: 1vw;

    width: $_width;
    padding: 0.5vw;

    &__image {
        width: $_width;
        filter: drop-shadow(0.0675rem 0.0675rem 0.25rem rgba(0, 0, 0, 0.25));
    }

    &__actions {
        display: flex;
        justify-content: center;
        width: $_width;

        a {
            width: $_width;
        }
    }
}