// Variables

:root {
    --global-padding: 0.5rem;

    --bg-color: #f5f5f5;
    --border-color: #ddddddd5;
    --link-color: rgb(75, 189, 255);
    --link-color-h: rgb(0, 145, 230);

    --font-w-normal: 400;
    --font-w-medium: 500;
    --font-w-bold: 700;
}
