body {
    background: #1d1d1d;
    color: #fff;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

header {
    background: #2d2d2d;
    padding: 1em 0;
    border-bottom: 1px solid #4d4d4d;
}

main {
    margin-bottom: 2em;
}

h1 {
    font-size: 2em;
    color: #55b5ff;
    text-shadow: 2px 2px 4px rgba(85, 181, 255, 0.8);
}

fieldset {
    background: rgba(85, 181, 255, 0.1);
    border: 1px solid #55b5ff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(85, 181, 255, 0.4);
    padding: 1em;
    margin: 1em 0;
}

legend {
    font-size: 1.2em;
    color: #55b5ff;
    text-transform: uppercase;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #55b5ff;
    border-radius: 5px;
    background: rgba(85, 181, 255, 0.1);
    color: #fff;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="radio"],
select,
textarea {
    margin: 0.5em 0 0.7em 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#descripcion {
    resize: none;
    height: 5em;
}

input[type="submit"],
input[type="reset"] {
    width: 40%;
    padding: 0.5em;
    border-radius: 5px;
    background: #55b5ff;
    border: 1px solid #1d1d1d;
    color: #1d1d1d;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s, border 0.3s;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background: #1d1d1d;
    color: #55b5ff;
    border: 1px solid #55b5ff;
}

#obligatorio {
    font-weight: bold;
}