@use "./styles/variables";
@use "./styles/reset";

#root {
    display: grid;
    grid-template-rows: max-content auto max-content;
    grid-template-areas:
        "header"
        "main"
        "footer";

    height: 100vh;
    gap: 1rem;
    background: rgb(98, 66, 218);
    background: linear-gradient(180deg, rgba(98, 66, 218, 1) 0%, rgba(65, 216, 240, 1) 100%);
}

.header,
.main,
.footer {
    display: flex;
    justify-content: center;
    align-items: start;
}
